name: compile-macosx-plugin
on:
  push:
    branches: [ main ]
    paths:
      - 'src/plugin'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/plugin'
  workflow_dispatch:
jobs:
  build:
    name: Compile MacOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Clone OSQP
        uses: actions/checkout@main
        with:
          repository: osqp/osqp
          path: './osqp'
          submodules: recursive
      - name: Clone ECOS
        uses: actions/checkout@main
        with:
          repository: embotech/ecos
          path: './ecos'
          submodules: recursive
      - name: compile x86_64
        run: |
          RUN_CLONE=0 RUN_OS=APPLE_X86_64 bash src/compile.sh
          shasum src/build/honestosqp_macosx86_64.plugin
          shasum src/build/honestecos_macosx86_64.plugin
          otool -L src/build/honestosqp_macosx86_64.plugin
          otool -L src/build/honestecos_macosx86_64.plugin
      - name: compile arm64
        run: |
          RUN_CLONE=0 RUN_OS=APPLE_ARM64 bash src/compile.sh
          shasum src/build/honestosqp_macosxarm64.plugin
          shasum src/build/honestecos_macosxarm64.plugin
          otool -L src/build/honestosqp_macosxarm64.plugin
          otool -L src/build/honestecos_macosxarm64.plugin
      - name: combine plugins
          lipo -create -output src/build/honestosqp_macosx.plugin src/build/honestosqp_macosx86_64.plugin src/build/honestosqp_macosxarm64.plugin
          lipo -create -output src/build/honestecos_macosx.plugin src/build/honestecos_macosx86_64.plugin src/build/honestecos_macosxarm64.plugin
          shasum src/build/honestosqp_macosx.plugin
          shasum src/build/honestecos_macosx.plugin
          otool -L src/build/honestosqp_macosx.plugin
          otool -L src/build/honestecos_macosx.plugin
      - name: commit plugin
        run: |
          git config --global user.name 'Mauricio Caceres'
          git config --global user.email 'mauricio.caceres.bravo@gmail.com'
          git remote set-url origin https://x-access-token:${{ secrets.COMPILE_TOKEN }}@github.com/${{ github.repository }}
          git add -f src/build/honestosqp_macosx*.plugin
          git add -f src/build/honestecos_macosx*.plugin
          echo ${GITHUB_REF##*/}
          [ -n "$(git status --porcelain)" ] && git commit -m "[Automated Commit] OSX plugin"
          git fetch
          git push -f origin HEAD:${GITHUB_REF##*/}
